.services {
  .item {
    z-index: 1;
    transition: $main-transition;
    cursor: pointer;
    svg {
      color: $main-color;
      transition: $main-transition;
    }
    &::after {
      @include overlay($main-color, 1);
      height: 0;
      transition: $main-transition;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      svg {
        color: #fff;
      }
      &::after {
        height: 100%;
      }
    }
  }
}
